@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Licitar</h1>
    <p> <a href="#">Proyecto Practica Profesional Supervisada</a>.</p>

    
</div>