@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger" role="alert">
    <i class="bx bx-error"></i> @ViewBag.ErrorMessage
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">
    <i class="bx bx-home"></i> Volver al Inicio
</a>
