@model LicitAR.Core.Data.Models.UsuarioModel

@{
    ViewData["Title"] = "Usuario";
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-6">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Editar Usuario</h5>
                <small class="text-body float-end">Actualizar los detalles</small>
            </div>
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <input type="hidden" asp-for="IdUsuario" />

                    <div class="mb-3">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="Apellido" class="form-label">Apellido</label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input asp-for="FechaNacimiento" type="date" class="form-control" />
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label for="Cuit" class="form-label">CUIT</label>
                        <input asp-for="Cuit" class="form-control" />
                        <span asp-validation-for="Cuit" class="text-danger"></span>
                    </div>

                    <div class="text-start mt-8">
                        <button type="submit" class="btn btn-primary">
                            <i class="bx bx-save"></i> Guardar <!-- Icon for Save -->
                        </button>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bx bx-arrow-back"></i> Volver al listado <!-- Icon for Back -->
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>