@using LicitAR.Web.Views.Usuario
  
@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "Login - LicitAR";
}
@model Login
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner"> 
      <div class="card px-sm-6 px-0">
        <div class="card-body"> 
          <div class="app-brand justify-content-center">
            <a href="/" class="app-brand-link gap-2">
              <img src="/images/Logo_LicitAR_rectangle_small.png" alt="Logo LicitAR" class="app-brand-logo" style="height: 50px; width: 85px;" />
              <span class="app-brand-text demo text-heading fw-bold"></span>
            </a>
          </div>
          <h4 class="mb-1">Bienvenido! 👋</h4>
          <p class="mb-6">Por favor inicie sesión</p>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }

          <form id="formAuthentication" class="mb-6" asp-action="Login" method="post">

              
            <div class="mb-6">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email"required placeholder="Email" autofocus>
            </div>
            <div class="mb-6 form-password-toggle">
              <label class="form-label" for="password">Password</label>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required/>
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-8">
              <div class="d-flex justify-content-between mt-8">
                <div class="form-check mb-0 ms-2">
                  <input class="form-check-input" type="checkbox" id="remember-me">
                  <label class="form-check-label" for="remember-me">
                    Recordarme
                  </label>
                </div>
                <a  asp-controller="Usuario" asp-action="ForgotPasswordBasic">
                  <span>Olvidaste tu contraseña?</span>
                </a>
              </div>
            </div>
            <div class="mb-6">
              <button class="btn btn-primary d-grid w-100" type="submit">Iniciar Sesión</button>
            </div>
          </form>

          <p class="text-center">
            <span>Sin cuenta?</span>
            <a asp-controller="Usuario" asp-action="Register">
              <span>Crear una cuenta nueva</span>
            </a>
          </p>
        </div>
      </div> 
    </div>
  </div>
</div> 