@using LicitAR.Web.Models.Usuario
@model ResetPasswordViewModel
@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Restablecer contraseña - LicitAR";
}
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@* ************** Content ************** *@

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <img src="/images/Logo_LicitAR_rectangle_small.png" alt="Logo LicitAR" class="app-brand-logo" style="height: 50px; width: 85px;" />
                            <span class="app-brand-text demo text-heading fw-bold"></span>
                        </a>
                    </div>
                    <h4 class="mb-1">Bienvenido! 👋</h4>
                    <p class="mb-6">Por favor ingrese su nueva contraseña</p>
                    <form asp-action="ResetPassword" class="mb-6" method="post">
                        <input type="hidden" asp-for="Token" />
                        <input type="hidden" asp-for="Email" />

                        <div class="mb-6 form-password-toggle">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" asp-for="ConfirmPassword"></label>
                         
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"> </span>
                          
                        </div>

                        
                        <div class="mb-6">
                            <button class="btn btn-primary d-grid w-100" type="submit">Restablecer contraseña</button>
                        </div> 
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@section BusinessScripts {
    <partial name="_ValidationScriptsPartial" />
}