@{

    Layout = "_BlankLayout";
    ViewData["Title"] = "Blanqueo de Password - OK";
}

@{
    var successMessage = TempData["SuccessMessage"] as string;
    TempData["SuccessMessage"] = null;
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <img src="/images/Logo_LicitAR_rectangle_small.png" alt="Logo LicitAR" class="app-brand-logo" style="height: 50px; width: 85px;" />
                            <span class="app-brand-text demo text-heading fw-bold"></span>
                        </a>
                    </div>

                    <h4 class="mb-1 fw-bold">Blanqueo de Password - Ok</h4>

                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div class="alert alert-success alert-dismissible fade show py-6" role="alert">
                            @successMessage
                        </div>
                    }

                    <a asp-action="Index" asp-controller="Home">Licitar</a>
                </div>

            </div>

        </div>

    </div>
</div>
