@model EntidadLicitanteModel

@{
    ViewData["Title"] = "Crear Nueva Entidad Licitante";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>EntidadLicitante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cuit" class="control-label"></label>
                <input asp-for="Cuit" class="form-control" />
                <span asp-validation-for="Cuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazonSocial" class="control-label"></label>
                <input asp-for="RazonSocial" class="form-control" />
                <span asp-validation-for="RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProvincia" class="control-label"></label>
                <input asp-for="IdProvincia" class="form-control" />
                <span asp-validation-for="IdProvincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLocalidad" class="control-label"></label>
                <input asp-for="IdLocalidad" class="form-control" />
                <span asp-validation-for="IdLocalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionBarrio" class="control-label"></label>
                <input asp-for="DireccionBarrio" class="form-control" />
                <span asp-validation-for="DireccionBarrio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionCalle" class="control-label"></label>
                <input asp-for="DireccionCalle" class="form-control" />
                <span asp-validation-for="DireccionCalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionNumero" class="control-label"></label>
                <input asp-for="DireccionNumero" class="form-control" />
                <span asp-validation-for="DireccionNumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionPiso" class="control-label"></label>
                <input asp-for="DireccionPiso" class="form-control" />
                <span asp-validation-for="DireccionPiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionDepto" class="control-label"></label>
                <input asp-for="DireccionDepto" class="form-control" />
                <span asp-validation-for="DireccionDepto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionCodigoPostal" class="control-label"></label>
                <input asp-for="DireccionCodigoPostal" class="form-control" />
                <span asp-validation-for="DireccionCodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
