@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  <!-- Brand -->
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="~/images/Logo_LicitAR_circle_clear_small.png" alt="Logo" style="height: 40px;" />
            </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    
    <!-- Dashboard -->
    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboard/") ? " active open" : "")'>
      <a asp-action="Index" asp-controller="Home" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboard</div>
      </a>
    </li>

    <!-- Licitaciones -->
    <li class='menu-item@(currentPage.StartsWith("/Licitacion/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div class="text-truncate" data-i18n="Licitaciones">Licitaciones</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Licitacion/Index" ? " active" : "")'>
          <a asp-action="Index" asp-controller="Licitacion" class="menu-link">
            <div>Listado</div>
          </a>
        </li>
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Estados</div>
          </a>
        </li>
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Documentos</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Proveedores -->
    <li class='menu-item'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div class="text-truncate" data-i18n="Proveedores">Proveedores</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Listado</div>
          </a>
        </li>
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Postulaciones</div>
          </a>
        </li>
      </ul>
    </li>

        <!-- Entidades Licitantes -->
        <li class='menu-item'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div class="text-truncate" data-i18n="Entidades Licitantes">Entidades Licitantes</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item'>
                    <a asp-action="Index" asp-controller="EntidadLicitante" class="menu-link">
                        <div>Listado</div>
                    </a>
                </li>
                <li class='menu-item'>
                    <a asp-action="NotFound" asp-controller="Error" class="menu-link">
                        <div>Postulaciones</div>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Personas -->
        <li class='menu-item'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div class="text-truncate" data-i18n="Personas">Personas</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item'>
                    <a asp-action="Index" asp-controller="Persona" class="menu-link">
                        <div>Listado</div>
                    </a>
                </li>
                <li class='menu-item'>
                    <a asp-action="NotFound" asp-controller="Error" class="menu-link">
                        <div>Postulaciones</div>
                    </a>
                </li>
            </ul>
        </li>
    <!-- Configuración -->
    <li class='menu-item'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div class="text-truncate" data-i18n="Configuración">Parametrización</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Provincias</div>
          </a>
        </li>
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Regiones</div>
          </a>
        </li>
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Tipos de Personas</div>
          </a>
        </li>
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Tipos de Contactos</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Seguridad -->
    <li class='menu-item'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-shield"></i>
        <div class="text-truncate" data-i18n="Seguridad">Seguridad</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage.StartsWith("/Usuario/") ? " active" : "")'>
          <a asp-controller="Usuario" asp-action="Index" class="menu-link">
            <div>Usuarios</div>
          </a>
        </li>
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Roles</div>
          </a>
        </li>
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Permisos</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Auditoría -->
    <li class='menu-item'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-search"></i>
        <div class="text-truncate" data-i18n="Auditoría">Auditoría</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Audit Trail</div>
          </a>
        </li>
        <li class='menu-item'>
          <a asp-action="NotFound" asp-controller="Error" class="menu-link">
            <div>Historial</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
<!-- / Menu -->
