@model LicitAR.Core.Data.Models.Licitacion

@{
    ViewData["Title"] = "Crear una licitacion"; 
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-6">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Crear Licitación</h5>
                <small class="text-body float-end">Ingrese los detalles</small>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    
                    <div class="mb-3">
                        <label asp-for="IdLicitacion" class="form-label"></label>
                        <input asp-for="IdLicitacion" class="form-control" />
                        <span asp-validation-for="IdLicitacion" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="CodigoLicitacion" class="form-label"></label>
                        <input asp-for="CodigoLicitacion" class="form-control" />
                        <span asp-validation-for="CodigoLicitacion" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="Titulo" class="form-label"></label>
                        <input asp-for="Titulo" class="form-control" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="Descripcion" class="form-label"></label>
                        <textarea asp-for="Descripcion" class="form-control"></textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="FechaPublicacion" class="form-label"></label>
                        <input asp-for="FechaPublicacion" class="form-control" />
                        <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="FechaCierre" class="form-label"></label>
                        <input asp-for="FechaCierre" class="form-control" />
                        <span asp-validation-for="FechaCierre" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="IdEstadoLicitacion" class="form-label"></label>
                        <input asp-for="IdEstadoLicitacion" class="form-control" />
                        <span asp-validation-for="IdEstadoLicitacion" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="IdCategoriaLicitacion" class="form-label"></label>
                        <input asp-for="IdCategoriaLicitacion" class="form-control" />
                        <span asp-validation-for="IdCategoriaLicitacion" class="text-danger"></span>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Volver a la Lista</a>
</div>

