@model LicitAR.Core.Data.Models.Evaluacion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Edit</h1>

<h4>Evaluacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEvaluacion" />
            <div class="form-group">
                <label asp-for="IdLicitacion" class="control-label"></label>
                <select asp-for="IdLicitacion" class="form-control" asp-items="ViewBag.IdLicitacion"></select>
                <span asp-validation-for="IdLicitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioEvaluador" class="control-label"></label>
                <input asp-for="IdUsuarioEvaluador" class="form-control" />
                <span asp-validation-for="IdUsuarioEvaluador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicioEvaluacion" class="control-label"></label>
                <input asp-for="FechaInicioEvaluacion" class="form-control" />
                <span asp-validation-for="FechaInicioEvaluacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinEvaluacion" class="control-label"></label>
                <input asp-for="FechaFinEvaluacion" class="form-control" />
                <span asp-validation-for="FechaFinEvaluacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
