@model LicitAR.Core.Data.Models.Licitacion

@{
    ViewData["Title"] = "Create"; 
}

<h1>Create</h1>

<h4>Licitacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdLicitacion" class="control-label"></label>
                <input asp-for="IdLicitacion" class="form-control" />
                <span asp-validation-for="IdLicitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoLicitacion" class="control-label"></label>
                <input asp-for="CodigoLicitacion" class="form-control" />
                <span asp-validation-for="CodigoLicitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPublicacion" class="control-label"></label>
                <input asp-for="FechaPublicacion" class="form-control" />
                <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCierre" class="control-label"></label>
                <input asp-for="FechaCierre" class="form-control" />
                <span asp-validation-for="FechaCierre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoLicitacion" class="control-label"></label>
                <input asp-for="IdEstadoLicitacion" class="form-control" />
                <span asp-validation-for="IdEstadoLicitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoriaLicitacion" class="control-label"></label>
                <input asp-for="IdCategoriaLicitacion" class="form-control" />
                <span asp-validation-for="IdCategoriaLicitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

