/* Custom styles goes here */
.pull-right {
    right:0;
}


.avatar-iniciales {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5A8DEE; /* color de fondo */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: girar 1s linear infinite;
}

.mensaje-carga {
    margin-top: 20px;
    font-size: 1.2em;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}